/* debug */
.debug {
  width: 100%;
  height: 50px;
  border: 1px solid white;
  background-color: SandyBrown;
}
/* /debug */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #717171;
}

/* classi comuni */
a {
  text-decoration: none;
  color: #717171;
}

.active a {
  color: #fff;
}

.active::before {
  content:"";
  display: inline-block;
  height: 30px;
  width: 2px;
  background-color: #adff2f;
  vertical-align: middle;
  margin-right: -2px;
  position: relative;
  right: 15px;
}

.active-bottom::after {
  content:"";
  display: block;
  height: 2px;
  width: 35%;
  background-color: #adff2f;
  margin: 2px auto;
}

h2, h3 {
  color: white;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.9em;
}

ul {
  list-style-type: none;
}

/* classi comuni */


.btn-empty {
  border: 1px solid white;
  padding: 10px 35px;
  border-radius: 25px;
  transition: transform 0.1s;
}

.btn-empty:hover {
  transform: scale(1.1);
}

.container {
  width: 100%;
  height: 100vh;
}

/* Inizio main */
main {
  height: calc(100% - 90px);
  display: flex;
}
/* Inizio aside */
main aside {
  width: 240px;
  height: 100%;
  padding: 15px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

main aside .logo img#logo-desktop {
  width: 140px;
}

main aside .logo img#logo-mobile {
  display: none;
}

main aside .primary-search {
  margin-top: 20px;
}

main aside .primary-search ul li {
  margin-bottom: 5px;
  height: 30px;
  vertical-align: middle;
}

main aside .primary-search ul li a {
  font-size: 0.9em;
  font-weight: 600;
}

main aside .primary-search ul li span {
  vertical-align: middle;
}

main aside .primary-search .home {
  position: relative;
  right: 2px;
}

main aside .primary-search img {
  width: 25px;
  margin-right: 5px;
  vertical-align: middle;
  opacity: 0.8;
}

main aside .primary-search li:hover img {
  opacity: 1;
}

main aside .primary-search li:hover span {
  color: white;
}

main aside .playlist-top h3 {
  margin-top: 20px;
  text-transform: uppercase;
}

main aside .playlist-top .row-plus {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

main aside .playlist-top .row-plus i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #a3a3a3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: black;
  margin-right: 10px;
}

main aside .playlist-top .row-plus:hover i {
  background-color: white;
}

main aside .playlist-top .row-plus span {
  font-weight: 700;
}

main aside .playlist-top .row-plus:hover span {
  color: white;
}

main aside .playlist-bottom {
  margin-top: 15px;
  min-height: 90px;
}

main aside .playlist-bottom ul {
  height: 100%;
  overflow-y: auto;
}

/* Questo serve per far comparire visivamente la scroll bar (su Chrome a volte non compare) */
/* scroll bar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(56, 56, 56, 0.8);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* /scroll bar */


main aside .playlist-bottom li {
  margin-bottom: 15px;
}

main aside .playlist-bottom a:hover {
  color: white;
}

main aside .user {
  margin-top: 20px;
  font-size: 0.9em;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main aside .user img {
  width: 20px;
  vertical-align: middle;
}

main aside .user .row-download img {
  opacity: 0.8;
}

main aside .user .row-download:hover img {
  opacity: 1;
}

main aside .user .row-download {
  border-bottom: 1px solid #717171;
  padding-bottom: 10px;
}

main aside .user .row-profile {
  margin-top: 10px;
}

main aside .user .row-profile img {
  width: 25px;
  height: 25px;
  background-color: #808080;
  border-radius: 50%;
}

main aside .user span {
  margin-left: 5px;
}

main aside .user .row-download:hover span {
  color: white;
}

main aside .user .row-profile span {
  color: white;
  font-weight: 700;
  font-size: 1.1em;
}
/* /aside */

/* Inizio main content */
main .main-content {
  width: calc(100% - 240px);
  background-color: #141922;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* main content top */
main .main-content .main-content-top {
  min-height: 90px;
  background-color: rgba(8, 11, 18, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  z-index: 2;
}

main .main-content .main-content-top a {
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
}

/* main content bottom */
main .main-content-bottom {
  flex-grow: 1;
  padding: 0 15px 15px 15px;
  font-weight: 600;
  overflow-y: auto;
}
/* main nav */
main .main-content-bottom nav {
  text-transform: uppercase;
}

main .main-content-bottom nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

main .main-content-bottom nav ul li {
  padding: 0 10px;
  margin-top: 20px;
}

main .main-content-bottom nav ul li a:hover  {
  color: white;
}

main .main-content-bottom .row h3 {
  font-size: 1.2em;
}

main .main-content-bottom .recently-played h3 {
  margin-bottom: 20px;
}

/* row */
main .main-content-bottom .row {
  margin-top: 40px;
}

main .main-content-bottom .row ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

main .main-content-bottom .row ul li {
  width: calc(100% / 6 - 10px);
  margin-right: 10px;
}

main .main-content-bottom .img-container {
  position: relative;
}

main .main-content-bottom .row ul li img {
  width: 100%;
  opacity: 1;
  display: block;
  transition: opacity 0.2s;
}

main .main-content-bottom .row ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  font-size: 4em;
  /* transition: opacity 0.2s; */
}

main .main-content-bottom .img-container:hover img {
  opacity: 0.5;
}

main .main-content-bottom .img-container:hover i {
  opacity: 1;
  transition: opacity 0.2s;
}


/* main .main-content-bottom .row ul li img:hover {
  content: "prova";
  font-size: 2em;
  font-family: "Font Awesome 5 Free";
  opacity: 0.5;
  position: relative;
  z-index: 1;
  color: white;
} */

main .main-content-bottom .row ul li h4 {
  margin-top: 10px;
  margin-bottom: 3px;
}

main .main-content-bottom .row ul li a {
  color: white;
}

main .main-content-bottom .playlist-personalizzata h3,
main .main-content-bottom .artisti-popolari h3 {
  margin-bottom: 10px;
}

main .main-content-bottom .playlist-personalizzata p,
main .main-content-bottom .artisti-popolari p {
  margin-bottom: 25px;
}

main .main-content-bottom .artisti-popolari img {
  border-radius: 50%;
}

/* /main content */
/* main */

/* Inizio footer */
footer {
  height: 90px;
  background-color: #282828;
  position: relative;
  z-index: 1;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer-left */
footer .footer-left {
  height: 100%;
  display: flex;
  align-items: center;
}

footer .footer-left .img-playing {
  position: relative;
}

footer .footer-left .img-playing img {
  height: 45px;
  cursor: pointer;
}

footer .footer-left .img-playing .fa-chevron-up {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
}

footer .footer-left .img-playing:hover .fa-chevron-up {
  transition: opacity 0.3s;
  opacity: 1;
  padding: 3px;
  background-color: rgba(20, 25, 34, 0.7);
  border-radius: 50%;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

footer .footer-left .title-song {
  margin-left: 10px;
  margin-right: 30px;
}

footer .footer-left .title-song h4 a {
  color: white;
}

footer .footer-left .title-song a:hover {
  color: white;
  text-decoration: underline;
}

footer .footer-left .title-song small {
  font-weight: 600;
}

footer .footer-left .far.fa-heart {
  margin-right: 15px;
}

footer .footer-left .far {
  font-size: 1.3em;
}

footer .footer-left .far:hover {
  color: white;
  cursor: pointer;
}

/* footer-center */
footer .footer-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  /* margin: 0 15%; */
}
/* footer-center top */
footer .footer-center-top {
  text-align: center;
}

footer .footer-center-top {
  margin-bottom: 10px;
}

footer .footer-center-top .fas,
footer .footer-center-top .far {
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 10px;
  color: white;
  vertical-align: middle;
}

footer .footer-center-top .fa-play-circle {
  font-size: 2em;
}

footer .footer-center-top .fa-play-circle:hover {
  transition: transform 0.1s;
  transform: scale(1.1);
}
/* footer-center bottom */
footer .footer-center-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}

footer .footer-center-bottom small {
  font-weight: 700;
}

/* footer .footer-center-bottom small:first-child::after {
  content: '';
  display: inline-block;
  width: 80%;
  height: 3px;
  border-radius: 3px;
  margin: 0 25px;
  background-color: #5a5a5a;
  vertical-align: middle;
  cursor: pointer;
} */

footer .footer-center-bottom .bar-play {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 3px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

footer .footer-center-bottom small:first-child {
  margin-right: 25px;
}

footer .footer-center-bottom small:last-of-type {
  margin-left: 25px;
}

footer .footer-center-bottom .bar-play::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 20%;
  height: 4px;
  border-radius: 3px;
  background-color: #c1c1c1;
  cursor: pointer;
}

footer .footer-center-bottom .bar-play:hover::after {
  background-color: #adff2f;
}

footer .footer-center-bottom .fa-circle {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 20%;
  transform: translate(-50%, -35%);
  color: white;
  z-index: 1;
}

footer .footer-center-bottom .bar-play:hover .fa-circle {
  opacity: 1;
}

/* footer-right */
footer .footer-right {
  width: 180px;
  display: flex;
  align-items: center;
}

footer .footer-right .icons {
  display: flex;
}

footer .footer-right .icons .fas {
  margin-right: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
}

footer .footer-right .bar-play {
  display: inline-block;
  width: 50%;
  height: 5px;
  background-color: #5a5a5a;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  position: relative;
}

footer .footer-right .bar-play::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius: 3px;
  background-color: #c1c1c1;
  cursor: pointer;
}

footer .footer-right .bar-play:hover::after {
  background-color: #adff2f;
}

footer .footer-right .fa-circle {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 20%;
  transform: translate(-50%, -35%);
  color: white;
  z-index: 1;
}

footer .footer-right .bar-play:hover .fa-circle {
  opacity: 1;
}

/* footer .footer-right .icons::after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background-color: #5a5a5a;
  vertical-align: middle;
  cursor: pointer;
} */








/* media queries desktop first */

/* Large devices */
@media screen and (min-width: 1201px) {

}

/* Medium devices */
@media screen and (max-width: 1200px) {
  main .main-content-bottom .row ul li {
    width: calc(100% / 4 - 10px);
    margin-top: 30px;
  }


}

/* Small devices */
@media screen and (max-width: 768px) {
  main .main-content-bottom .row ul li {
    width: calc(100% / 2 - 10px);
    /* margin-top: 30px; */
  }
  main .main-content-bottom nav ul li a {
    font-size: 0.9em;
  }

  footer .footer-left {
    width: 150px;
  }

  footer .footer-left .far.fa-heart {
    display: block;
    margin-bottom: 5px;
  }

  footer .footer-left .far {
    /* display: block; */
    font-size: 1.3em;
  }

  footer .footer-center-bottom {
    width: 250px;
    padding: 0 5px;
    /* margin: 0 5px; */
  }

  footer .footer-right {
    width: 150px;
  }

}

/* Extra small devices */
@media screen and (max-width: 600px) {

  /* Inizio aside */
  main aside {
    width: 50px;
    padding: 10px;
  }

  main aside .logo img#logo-desktop {
    display: none;
  }

  main aside .logo img#logo-mobile {
    display: block;
    width: 28px;
  }

  main aside .primary-search {
    margin-top: 10px;
  }

  main aside .primary-search span {
    display: none;
  }

  main aside .primary-search ul li {
    margin-bottom: 8px;
    padding: 0;
    height: 20px;
  }

  main aside .primary-search .home {
    position: static;
    right: 0;
  }

  .active::before {
    display: none;
  }

  main aside .playlist-top {
    display: none;
  }

  main aside .playlist-bottom {
    display: none;
  }

  main aside .user {
    align-self: center;
  }

  main aside .user span {
    display: none;
  }
  /* /aside */
  /* Inizio main content */
  main .main-content {
    width: calc(100% - 50px);
  }

  main .main-content-bottom nav ul li a {
    font-size: 0.7em;
    font-weight: 700;
  }

  footer {
      padding: 5px 5px;
  }

  footer .footer-left {
    width: 100px;
  }

  footer .footer-left .img-playing img {
    height: 40px;
    cursor: pointer;
  }

  footer .footer-left .title-song {
    margin-left: 5px;
    margin-right: 5px;
  }

  footer .footer-left .title-song h4 a {
    font-size: 0.9em;
  }

  footer .footer-left .title-song small {
    font-size: 0.8em;
  }

  footer .footer-left .icons .far {
    font-size: 1em;
  }


  footer .footer-center-top .fas,
  footer .footer-center-top .far {
    font-size: 0.9em;
    margin-right: 5px;
  }

  footer .footer-center-top .fa-play-circle {
    font-size: 1.7em;
  }


  footer .footer-center-bottom {
    width: 100%;
    padding: 0 5px;
  }

  footer .footer-center-bottom .bar-play {
    width: 50%;
    margin: 0;
  }

  footer .footer-center-bottom small:first-child {
    margin-right: 5px;
  }

  footer .footer-center-bottom small:last-of-type {
    margin-left: 5px;
  }


  footer .footer-right {
    width: 90px;
  }

  footer .footer-right .icons .fas {
    margin-right: 5px;
    font-size: 0.9em;
  }

  footer .footer-right .bar-play {
    width: 100%;
  }

}

  /* XX small devices */
  @media screen and (max-width: 355px) {

    footer .footer-right {
      width: 80px;
    }

    footer .footer-left .icons {
      display: none;
    }

  }

  @media screen and (max-height: 349px) {
    main .main-content .main-content-top {
      display: none;
    }
  }
